
.underline-a{
  color: ff0000;
  text-decoration: none;
  }

.footer-teste {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 180px;
}

.container-fluid.body-content {
  position: absolute;
  top: 50px;
  bottom: 30px;
  right: 0;
  left: 0;
  overflow-y: auto;
}